.root {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textContainer {
    width: 555px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    width: 445px;
    height: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
}

.subText {
    margin-top: 20px;
    width: 555px;
    height: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
}

.twitterCardsContainer {
    width: 100%;
    margin-top: 30px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}

.buttonsContainer {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.buttonsCont {
    width: 150px;
    display: flex;
    justify-content: space-evenly;
}
.button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px #F53855 solid;
    background-color: white;
    outline: none;
}

.button:focus{
    outline: none;
}
.button:hover {
    transition-duration: 200ms;
    cursor: pointer;
    background-color: #F53855;
}
.button > svg {
    fill: #F53855;
}

.button:hover > svg {
    fill: white;
}

.footer {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-color: #dadada;
    width: 100%;
    padding: 200px 150px 100px 150px;
}
.contLogos {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-right: 200px;
    justify-content: flex-start;
}
.logo {
    width: 149px;
    height: 36px;
    margin-bottom: 20px;
}
.logoText {
    width: 340px;
    height: 60px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-bottom: 30px;
}
.socialAppsLogos {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.copyRight {
    width: 132px;
    height: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #AFB5C0;
}
.footerInfo {
    display: flex;
    flex-direction: row;
    width: 450px;
    justify-content: flex-end;
}
.column {
    width: 120px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.columnTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 40px;
    color: #0B132A;
}
.columnText {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 40px;
    color: #4F5665;
}
.subscribe{
    position: relative;
    top: 120px;
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.subscribeCont {
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    width: 1140px;
}
.subscribeTextCont {
    width: 410px;
    height: 116px;
    padding: 50px;
}
.subscribeTitle {
    width: 371px;
    height: 80px;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
    display: flex;
    align-items: center;
    color: #0B132A;
    margin-bottom: 20px;
}
.subscribeText{
    width: 410px;
    height: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #4F5665;
}

.subscribeButton {
    padding: 80px;
    margin-left: 150px;
}
